{% extends 'base.html' %}
{% load static %}

   {% block content %}
   <div class="about-us-div">

<div class="text-center">
   <h1>
About Us
</h1>
</div>
   <table id="tab">
      <tr>
        <td>
   <div class="about-us-container">
<div class="about-us-contaier-image">
   <img src="static\Images\rafay_baloch.jpg" alt="" style="width: 200px;">
</div>
        </td>
        <td>
         <p>
            Pakistani ethical hacker and security researcher known for his discovery of vulnerabilities on the Android operating system.
            <br>Information Security Researcher, Published Author on Cybersecurity, Public Speaker, Chevening Scholar, featured <br>by 
            @Forbes
            , 
            @BBC
            , 
            @WSJ
             - RT ≠ Endorsement</p>
         </td>
      </tr>
      <tr>
        <td> 
<div class="about-us-contaier-image">
   <img src="static\Images\alihassan ghouri.jpg" alt="" style="width: 200px;">
</div>
        </td>
        <td>

         <p>I am Ali Hassan Ghori, Software Engineer Student and Cyber Security Expert from Pakistan interested in Web and Mobile<br> application security testing. Since mid of 2012 I've been an active participant in the Bug Bounty community.
            I am a profes-<br>sional penetration tester, Certified Penetration Testing Engineer (CPTE), Certified Vulnerability Assessor (CVA) from <br>Mile2 and EC-Council's Certified Security Analyst (ECSA). I have also completed the courses CCNA (Routing & Switching), <br>CCNA Security.</p>
         </td>
      </tr>
      <tr>
        <td>
<div class="about-us-contaier-image">
   <img src="static\Images\burhan baig.jpg" alt="" style="width: 200px;">
</div>
        </td>
        <td>

         <p>



            Security Architecture Review for Central Depository Company, Internal & External Penetration Testing For Pakistan Petroleum Limited (PPL),<br> Internet Banking & Servers Penetration Testing (NRSP Bank), Internet Banking & Servers Penetration Testing (Allied Bank Limited),<br> Network Security Assessment (AdamJee Insurance), Acount Opening Tablet (Bank Al Habib),<br> Mobile Application Assessment (Bank Al Habib Limited), Keenu Application (Bank Al Habib Limited),<br> Secure Code Review (Bank Al Habib) Penetration Testing - Core Banking Application. (Bank Al Habib) <br>NetMa-Fu (Network Malware Detection System), PsychNaturals, TiaraTv, Olives Touch, Swiss Arabian!


         </p>
         </td>
      </tr>


      <tr>
         <td>
<div class="about-us-contaier-image">
   <img src="static\Images\me.jpg" alt="" style="width: 200px;">
</div>
   </div>
   
         </td>
         <td>

            <p>• I am working as a Web Application Vulnerability Tester, remotely. Currently, I am enrolled in Bachelor's <br>in Software Engineering from Bahria University. My motive is Secure things to Increase Reliability.
               <br>• Web Development is also my field of interest. I have grip on HTML, CSS, BOOTSTRAP JAVASCRIPT and DJANGO PYTHON.<br>
               • I always love to talk to anybody who has interest in Security related Stuff, because it's my passion.<br>
               • A logical, self-motivated decision-maker who works well under stress and strives for continuous growth and improvement in all endeavors.<br>
               • Proven skills in team management and demonstrated the capability to create a wide range of plans of action to deliver solutions.</p>
            </td>
       </tr>

    </table>



</div>





   <!-- <div class="about-us-container">
<div class="about-us-contaier-image">
   <img src="static\Images\rafay_baloch.jpg" alt="" style="width: 200px;">
   <div>

   </div>
</div> -->

<!-- --------------------------------------- -->
<!-- <div class="about-us-contaier-image">
   <img src="static\Images\alihassan ghouri.jpg" alt="" style="width: 200px;">
   <div>

   </div>
</div> -->

<!-- --------------------------------------- -->
<!-- <div class="about-us-contaier-image">
   <img src="static\Images\burhan baig.jpg" alt="" style="width: 200px;">
   <div>

   </div>
</div> -->

<!-- --------------------------------------- -->
<!-- <div class="about-us-contaier-image">
   <img src="static\Images\me.jpg" alt="" style="width: 200px;">
   <div>

   </div>
</div>

   </div>
    -->
   {% endblock content %}