<div class="achievements-services-container text-center p-3 fs-18">
    <div><div>
        <h1>Achievements</h1>
    </div></div>
    <div class="card-div row p-5" id="card-div-inpage">
    
        <div class="card mx-auto my-2 p-3" style="width: 18rem;">
           <centre><img src="static\Images\coding.png" class="card-img-top" style="height: 50px; width: 20%;"></centre>
            <div class="card-body">
                <h1>1500</h1>
                <h6 class="card-title"><b>Projects Completed</b></h6>
            </div>
          </div>
          <div class="card mx-auto my-2 p-3" style="width: 18rem;">
            <centre><img src="static\Images\customer.png" class="card-img-top" style="height: 50px; width: 20%;"></centre>
            <div class="card-body">
                <h1>120</h1>
                <h6 class="card-title"><b>Happy Customers</b></h6>
            </div>
          </div>
          <div class="card mx-auto my-2 p-3" style="width: 18rem;">
            <centre><img src="static\Images\like.png" class="card-img-top" style="height: 50px; width: 20%;"></centre>
            <div class="card-body">
                <h1>320</h1>
                <h6 class="card-title"><b>Cups Of Coffee</b></h6>
            </div>
          </div>
          <div class="card mx-auto my-2 p-3" style="width: 18rem;">
            <centre><img src="static\Images\medal.png" class="card-img-top" style="height: 50px; width: 20%;"></centre>
            <div class="card-body">
                <h1>1300</h1>
                <h6 class="card-title"><b>Awards</b></h6>
            </div>
          </div>
    <!-- <div class="card mx-auto my-2 p-3" style="width: 18rem;">
        <img src="https://lh3.googleusercontent.com/proxy/ftqRcecAzLkXZAh4e3U_ItYeICdHOMEmGT1erYfbCr5ljDigfRrDEd-pkSfVLXSG2bA4f-cFvXfzkP6gEcu3dIZbkWek-0bRP0n0NQucWuA03U9JhiXpYkIEFJFgQJbYwaEhcU7vEnuffiCl" class="card-img-top" style="height: 165px;">
        <div class="card-body">
            <h6 class="card-title"><b>Security Trainings</b></h6>
        </div>
    </div> -->
    
    </div>
    