
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="main-container">
    <div class="container2">
        <img src="static\Images\type.gif" alt="">
</div>
<div class="container1">
    <img src="static\Images\Famous-Hackers-Featured.jpg" alt="">
</div>
</div>
<div class="me-container">
    
    {% include 'me.html' %}
</div>
<!-- ---------------------------Achievements Container------------------------------------ -->
<div class="achievements-container">
    {% include 'achievements.html' %}
</div>


<!-- ---------------------------Services--------------------------------------------- -->
<div class="services-container text-center p-3 fs-18">
<div><div>
    <h1>Services</h1>
</div></div>
<div class="card-div row p-5" id="card-div-inpage">

    <div class="card mx-auto my-2 p-3" style="width: 18rem;">
        <img src="static\Images\network-security.jpg" class="card-img-top">
        <div class="card-body">
            <h6 class="card-title"><b>Network Penetration Testing</b></h6>
        </div>
      </div>
      <div class="card mx-auto my-2 p-3" style="width: 18rem;">
        <img src="static\Images\Web Application Penetration Testing Tools.jpg" class="card-img-top" style="height: 165px;">
        <div class="card-body">
            <h6 class="card-title"><b>Web Application Penetration Testing</b></h6>
        </div>
      </div>
      <div class="card mx-auto my-2 p-3" style="width: 18rem;">
        <img src="static\Images\mobile pentest.jpg" class="card-img-top" style="height: 165px;">
        <div class="card-body">
            <h6 class="card-title"><b>Android Penetration Testing</b></h6>
        </div>
      </div>
      <div class="card mx-auto my-2 p-3" style="width: 18rem;">
        <img src="static\Images\cloud-security-1.jpg" class="card-img-top">
        <div class="card-body">
            <h6 class="card-title"><b>Cloud Security</b></h6>
        </div>
      </div>
<div class="card mx-auto my-2 p-3" style="width: 18rem;">
    <img src="static\Images\security awareness.jpg" class="card-img-top" style="height: 165px;">
    <div class="card-body">
        <h6 class="card-title"><b>Security Trainings</b></h6>
    </div>
</div>
</div>
</div>
{% endblock content %}