<div class="me-info-quote">
    <!-- <h1>Quote</h1> -->
<pre><br>
<h3><b><i>
    "One Single Vulnerability is All an<br>             Attacker needs"</i></b></h3>
</pre>

    
</div>
<div class="me-info-container text-center">


        <div><div>
            <!-- <h1>Me</h1> -->
        </div></div>
        
        <div class="card-div p-5">
        
            <!-- <div class="card mx-auto my-2 p-3" style="width: 18rem;"> -->
               <centre><img src="static\Images\me.jpg" class="img-fluid" alt="Responsive image" style="width: 150px;"></centre>
                <!-- <div class="card-body"> -->
                   
                </div>
              </div>
             
           
       
        
</div>